@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.game-cont{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    /* padding-top: 20px; */
    overflow: hidden;
    width: 100%;
    height: 100%;
    /* border: 2px solid blue; */
}

#canvas{
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    /* border: 2px solid red; */
    /* background: url("/craftpix-net-965049-free-industrial-zone-tileset-pixel-art/Backgrounds/Background.png") center/74%; */
    /* background-position: center/74%; */
    /* background-repeat: repeat-x; */
    width: 100%;
    height: 100%;
}

.start-up{
    padding: 10px 30px;
    /* position: absolute;
    bottom: 10%;
    left: 5%; */
    letter-spacing: 3px;
    font-weight:bolder;
    font-family: 'Barriecito', 'Kode Mono', sans-serif;
    border-radius: 10px;
    box-shadow: inset 1px 1px 60px ghostwhite;
}